<h1>New cocktail</h1>

<div class="container mt-4">
  <%= render 'form', cocktail: @cocktail %>
</div>

<div class="container mt-4">
  <%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
</div>


<!-- <div class="form-inputs container">
    <%= simple_form_for (@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :picture %>
</div> -->

<!-- <div class="form-actions container">
    <%= f.submit "create your cocktail" %>
  </div>
<% end %> -->
